<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Perry's Photos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        nav {
            padding: 2rem 2rem 0 2rem;
        }
        .container  {
            padding: 1rem 2rem 0 2rem;
        }
    </style>
    {# <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> #}
    {% block customhead %}{% endblock %}
    <script defer data-domain="perrys.photos" src="https://plausible.io/js/script.js"></script>
</head>
<body>
    <nav><h1>Perry's Photos</h1></nav>
    <div class="container">{% block content %}{% endblock %}</div>
</body>
<html>