<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Perry's Photos</title>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
    {% block customhead %}{% endblock %}
</head>
<body>
    <nav><h1>Perry's Photos</h1></nav>
    <div>{% block content %}{% endblock %}</div>
</body>
<html>