{% extends "base.html.j2" %}
{% block customhead %}
    <link rel="stylesheet" href="photoswipe/photoswipe.css">
    <style>
.pswp-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
a.photo {
    text-decoration: none;
    flex: 1 1 auto;
    position: relative;
    {# height: 210px; #}
}
img.photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 3px;
}
    </style>
    <script type="module">
import PhotoSwipeLightbox from './photoswipe/photoswipe-lightbox.esm.js';
import PhotoSwipe from './photoswipe/photoswipe.esm.js';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: PhotoSwipe
});

lightbox.init();
    </script>

{% endblock %}

{% block content %}
<div class="pswp-gallery" id="gallery">
    {% for photo in photos %}
        <a class="photo" href="{{ photo.orig }}" data-pswp-width="{{ photo.orig_width }}" data-pswp-height="{{ photo.orig_height }}" target="_blank">
            <img class="photo" src="{{ photo.thumb }}" width="{{ photo.thumb_width }}">
        </a>
    {% endfor %}    
</div>
{% endblock %}
